
  .wrap{
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
  }
  
  .circle{
    background-color: rgb(255, 255, 255);
    width: 60px;
    height: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -32px;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.3);
    
  }
  .searchbar{
    background-color: rgb(214, 216, 216);
    padding: 10px;
    align-items: center;
    min-width: 360px;
    height: 60px;
    border-radius: 50px;
  }
  .search{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .circular-menu {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
  }
  
  
  .center {
    width: 100%;
    height:300;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }
  .menu {
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 40px;
    background: radial-gradient(
        55% 55% at 70% 35%,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      rgba(255, 255, 255, 0.05);

    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.5),
      inset -1px -1px 1px rgba(255, 255, 255, 0.3);

    overflow: hidden;
  }
  .menu div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
  }
  .menu div .item {
    width: 210px;
    height: 210px;
    margin-top: -210px;
    border: 2px solid white;
    transform: rotate(0deg) skew(-45deg);
    transform-origin: 0 100%;
    background-color: rgb(238, 238, 238);
 
  }
  .menu div:nth-child(2) .item {
    transform: rotate(45deg) skew(-45deg);

  }
  .menu div:nth-child(3) .item {
    transform: rotate(90deg) skew(-45deg);

  }
  .menu div:nth-child(4) .item {
    transform: rotate(135deg) skew(-45deg);
  
  }
  .menu div:nth-child(5) .item {
    transform: rotate(180deg) skew(-45deg);

  }
  .menu div:nth-child(6) .item {
    transform: rotate(225deg) skew(-45deg);

  }
  .menu div:nth-child(7) .item {
    transform: rotate(270deg) skew(-45deg);

  }
  .menu div:nth-child(8) .item {
    transform: rotate(315deg) skew(-45deg);

  }
  .menu div .option {
    position: absolute;
    width: 100px;
    height: 60px;
    text-align: center;
    top: calc(50% - -70px);
    left: calc(50% - -70px);
    transform: rotateZ( 0deg) translateY(-140px) rotateZ(0deg);
    text-decoration: none;
    font-family: poppins;
    font-size: 12px;
    font-weight: 500;
    color: rgb(36, 36, 36);
    line-height: 20px;
    z-index: 1;
  }
  .menu div .option span {
    font-size: 35px;
  }

  .menu div:nth-child(2) .option {
    transform: rotateZ(45deg) translateY(-180px) rotateZ(-45deg);
    top: calc(50% - -160px);
    left: calc(50% - 50px);
  }
  .menu div:nth-child(3) .option {
    transform: rotateZ(90deg) translateY(-240px) rotateZ(-90deg);
    top: calc(50% - -100px);
    left: calc(50% - 240px);
  }
  .menu div:nth-child(4) .option {
    transform: rotateZ(180deg) translateY(-240px) rotateZ(-180deg);
    top: calc(50% - 150px);
    left: calc(50% - 100px);
  }
  .menu div:nth-child(5) .option {
    transform: rotateZ(225deg) translateY(-240px) rotateZ(-225deg);
    top: calc(50% - 140px);
    left: calc(50% - 10px);
  }
  .menu div:nth-child(6) .option {
    transform: rotateZ(270deg) translateY(-240px) rotateZ(-270deg);
    top: calc(50% - 80px);
    left: calc(50% - -60px);
  }
  .menu div:nth-child(7) .option {
    transform: rotateZ(315deg) translateY(-240px) rotateZ(-315deg);
    top: calc(50% - -20px);
    left: calc(50% - -66px);
  }

  .menu div:nth-child(8) .option {
    transform: rotateZ(360deg) translateY(-140px) rotateZ(-360deg);
    top: calc(50% - 10px);
    left: calc(50% - 0px);
  }

  .menu div:hover .item {
    background: rgb(255, 145, 2);
  }
  .menu div:hover .option {
    color: black;
  }
  .menu::before {
    position: absolute;
    content: "phone_in_talk";
    font-family: "Material Icons";
    top: 50%;
    left: 50%;
    border: 10px solid rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    z-index: 1;
  }
  .name{
    font-size: 15px;
    margin-top: 10px;
    margin-left: -20px;
  }